<!-- <div class="container py-4">
    <nav
      style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
      aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active" aria-current="page">Alunos</li>
      </ol>
    </nav>
  </div>
  
  <div class="container">
    <p-table #dt [value]="alunos" [rows]="10" [paginator]="this.alunos.length > 0" dataKey="id"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [showCurrentPageReport]="this.alunos.length > 0">
      <ng-template pTemplate="header">
        <tr>
          <th> Matrícula </th>
          <th> CPF </th>
          <th> Nome </th>
          <th> Status </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-aluno>
        <tr>
          <td>{{aluno.Matricula}}</td>
          <td>{{aluno.Cpf}}</td>
          <td>{{aluno.Nome}}</td>
          <td>
            <span [class]="'aluno-badge status-' + (aluno.Status ? aluno.Status.toLowerCase() : '')"> {{aluno.Status}}
            </span>
          </td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
              (click)="editAluno(aluno)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
              (click)="deleteAluno(aluno.Id)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="4" style="text-align: center;">
            Não encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div> -->