<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-toast position="top-right"></p-toast>

<div class="container-principal">
  <div class="container">
    <div class="row p-fluid">
      <div class="col-3">
        <span class="p-float-label">
          <p-inputMask [(ngModel)]="filtro.matricula" mask="999999999"> </p-inputMask>
          <label for="float-input">Matrícula</label>
        </span>
      </div>
      <div class="col-3">
        <span class="p-float-label">
          <p-inputMask [(ngModel)]="filtro.cpf" placeholder="999.999.999-99" mask="999.999.999-99">
          </p-inputMask>
          <label for="float-input">CPF</label>
        </span>
      </div>
      <div class="col-6">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText [(ngModel)]="filtro.nome">
          <label for="float-input">Nome</label>
        </span>
      </div>
    </div>
  </div>

  <div class="container container-btns-pesquisa">
    <div class="row justify-content-md-start">
      <div class="col-10">
        <button pButton pRipple type="button" label="Limpar" class="p-button-secondary" (click)="limpar()"></button>
        <button pButton pRipple type="button" label="Pesquisar" class="p-button-primary" style="margin-left: 6px;"
          (click)="buscar()"></button>
      </div>
    </div>
  </div>

  <div class="container container-tabela">
    <p-table #dt [value]="alunos" [rows]="3" [paginator]="this.alunos.length > 0"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
      [showCurrentPageReport]="this.alunos.length > 0">
      <ng-template pTemplate="header">
        <tr>
          <th> Aluno </th>
          <th> Status de Mensalidade </th>
          <th style="width:20px"> </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-aluno>
        <tr>
          <td>{{aluno.nome}}</td>
          <td> <b> {{aluno.acordoMensalidade.statusMensalidade.descricao.toUpperCase()}} </b> </td>
          <td>
            <button pButton pRipple icon="pi pi-arrow-right" class="p-button-rounded p-button-help mr-2"
              (click)="verificar(aluno.id)" style="margin-right: 6px;"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="3" style="text-align: center;">
            Não encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>