<div class="container py-4">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Alunos</li>
        </ol>
    </nav>
</div>

<div class="container"> 
    <table class="table table-info table-striped">
        <thead>
          <tr>
            <th scope="col">CPF</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>999.999.999-99</td>
            <th>Vitor</th>
            <td>61 9999-9999</td>
          </tr>
          <tr>
            <td>999.999.999-99</td>
            <th>Régis</th>
            <td>61 9999-9999</td>
          </tr>
          <tr>
            <td>999.999.999-99</td>
            <th>Aline</th>
            <td>61 9999-9999</td>
          </tr>
        </tbody>
      </table>  
</div>