<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> ACADEMIA EQUILÍBRIO FITNESS </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar" style="position: fixed; right: 60px">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">MENU</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"
                    style="margin-left: 300px;"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" style="color: white;">
                            <i class="pi pi-home"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/meus-dados" style="color: white;">
                            <i class="pi pi-database"></i> Meus Dados
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/meus-treinos" style="color: white;">
                            <i class="pi pi-bolt"></i> Meus Treinos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/minhas-avaliacoes-fisica" style="color: white;">
                            <i class="pi pi-chart-bar"></i> Minhas Avaliações
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/meus-pagamentos" style="color: white;">
                            <i class="pi pi-chart-bar"></i> Meus Pagamentos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/alunos" style="color: white;">
                            <i class="pi pi-users"></i> Alunos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/funcionarios" style="color: white;">
                            <i class="pi pi-briefcase"></i> Funcionários
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/treinos" style="color: white;">
                            <i class="pi pi-bolt"></i> Treinos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/avaliacoes-fisica" style="color: white;">
                            <i class="pi pi-chart-bar"></i> Avaliações Física
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/pagamentos" style="color: white;">
                            <i class="pi pi-dollar"></i> Pagamentos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/patrimonio" style="color: white;">
                            <i class="pi pi-money-bill"></i> Patrimônio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/sobre" style="color: white;">
                            <i class="pi pi-info-circle"></i> Sobre
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <i class="pi pi-sign-out" style="font-size: 2rem; color: white;"></i>
        </div>
    </div>
</nav>