<app-menu></app-menu>
<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-toast position="top-right"></p-toast>

<div class="container-principal">
    <div class="container">
        <p-fieldset legend="Dados Básicos" [toggleable]="true">
            <div class="row p-fluid">
                <div class="col">
                    <label for="float-input">Nome</label>
                    <input type="text" pInputText [(ngModel)]="aluno.nome">
                </div>
            </div>

            <div class="row p-fluid" style="margin-top: 15px;">
                <div class="col">
                    <label for="float-input">CPF</label>
                    <p-inputMask [(ngModel)]="aluno.cpf" placeholder="999.999.999-99" mask="999.999.999-99">
                    </p-inputMask>
                </div>
                <div class="col">
                    <label for="float-input">Unidades</label>
                    <p-dropdown [options]="unidades" [(ngModel)]="aluno.idUnidade" placeholder="Selecione a Unidade"
                        optionLabel="nome" optionValue="id" [disabled]="aluno.idPlano === 2">
                    </p-dropdown>
                </div>
            </div>

            <div class="row p-fluid" style="margin-top: 15px;">
                <div class="col">
                    <label for="float-input">Email</label>
                    <input type="email" pInputText [(ngModel)]="aluno.email">
                </div>
            </div>

            <div class="row p-fluid" style="margin-top: 15px;">
                <div class="col">
                    <label for="float-input">Data de Nascimento</label>
                    <p-calendar [(ngModel)]="aluno.dataNascimento" [showIcon]="true" inputId="icon"
                        dateFormat="dd/mm/yy" [showButtonBar]="true" [readonlyInput]="true"></p-calendar>
                </div>
                <div class="col">
                    <label for="float-input">Planos</label>
                    <p-dropdown [options]="planos" [(ngModel)]="aluno.idPlano" placeholder="Selecione o Plano"
                        optionLabel="nome" optionValue="id">
                    </p-dropdown>
                </div>
            </div>

            <div class="row p-fluid" style="margin-top: 15px;">
                <div class="col">
                    <label for="float-input">Telefone</label>
                    <p-inputMask [(ngModel)]="aluno.telefone" placeholder="(99) 9999-9999" mask="(99) 9999-9999">
                    </p-inputMask>
                </div>
                <div class="col">
                    <label for="float-input">Sexos</label>
                    <p-dropdown [options]="sexos" [(ngModel)]="aluno.idSexo" placeholder="Selecione o Sexo"
                        optionLabel="nome" optionValue="id">
                    </p-dropdown>
                </div>
            </div>
        </p-fieldset>

        <p-fieldset legend="Endereço" [toggleable]="true">
            <div class="row p-fluid">
                <div class="col">
                    <label for="float-input">Descrição</label>
                    <input type="text" pInputText [(ngModel)]="aluno.endereco.descricao">
                </div>
            </div>

            <div class="row p-fluid" style="margin-top: 15px;">
                <div class="col">
                    <label for="float-input">Cidade</label>
                    <input type="text" pInputText [(ngModel)]="aluno.endereco.cidade">
                </div>
                <div class="col">
                    <label for="float-input">Estados</label>
                    <p-dropdown [options]="estados.list" [(ngModel)]="this.aluno.endereco.estado"
                        placeholder="Selecione o estado" optionLabel="nome" optionValue="nome">
                    </p-dropdown>
                </div>
            </div>

            <div class="row p-fluid" style="margin-top: 15px;">
                <div class="col">
                    <label for="float-input">CEP</label>
                    <p-inputMask [(ngModel)]="aluno.endereco.cep" mask="99.999-999">
                    </p-inputMask>
                </div>
            </div>
        </p-fieldset>

        <div class="container-btns-forms row justify-content-md-end">
            <div class="col-3">
                <button id="btnVoltar" pButton pRipple type="button" label="Voltar" class="p-button-secondary"
                    (click)="voltar()" style="margin-top: 50px; margin-left: 20px;"></button>
                <button id="btnSalvar" pButton pRipple type="button" label="Atualizar" class="p-button-success"
                    (click)="validarAlteracoes()" style="margin-top: 50px; margin-left: 5px;"></button>
            </div>
        </div>
    </div>
</div>