<p-toast position="top-right"></p-toast>

<div class="background">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-4">
                <p-card style="position: fixed; top:90px; left: 100px;">
                    <div class="row p-fluid">
                        <div class="col">
                            <label for="float-input" style="font-weight: bold;">Login</label>
                            <p-inputMask [(ngModel)]="login" placeholder="999.999.999-99" mask="999.999.999-99">
                            </p-inputMask>
                        </div>
                        <br>
                    </div>
                    <div class="row p-fluid" style="margin-top: 15px;">
                        <div class="col">
                            <label for="float-input" style="font-weight: bold;">Senha</label>
                            <input type="password" pInputText [(ngModel)]="senha">
                        </div>
                        <br>
                    </div>

                    <div class="row p-fluid" style="margin-top: 20px;">
                        <div class="col">
                            <button pButton pRipple type="button" label="Login" class="p-button-success"
                                (click)="autenticar()"></button>
                        </div>
                        <br>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>