<app-menu></app-menu>
<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-toast position="top-right"></p-toast>

<div class="container-principal">
    <div class="container">
        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-12">
                <label for="float-input">TREINO - {{ dataTreino }}</label>
                <textarea *ngIf="treino?.descricao" pInputTextarea [(ngModel)]="treino.descricao"
                    disabled="true"></textarea>
            </div>
        </div>

        <div class="container-btns-forms row justify-content-md-start">
            <div class="col-12">
                <button pButton pRipple type="button" label="Voltar" class="p-button-secondary" (click)="voltar()"
                    style="margin-top: 50px;"></button>
            </div>
        </div>
    </div>
</div>