<div class="container py-4">
    <h3> Informações </h3>
    <div class="row">
        <div class="col">
            <label class="fs-5"> <strong> Email: </strong> equilibriofitness.academia@gmail.com</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="fs-5"> <strong> Telefone: </strong> (61) 3652-5214</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="fs-5"> <strong> Endereço da Sede Principal: </strong> QN 14D Conjunto 7 Lote 14 - Riacho Fundo
                II</label>
        </div>
    </div>
</div>