<app-menu></app-menu>
<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-toast position="top-right"></p-toast>

<div class="container-principal">
    <div class="container">
        <p-fieldset legend="Dados Básicos" [toggleable]="true">
            <div class="row p-fluid">
                <div class="col">
                    <label for="float-input">Nome</label>
                    <input *ngIf="aluno?.nome" type="text" pInputText [(ngModel)]="aluno.nome" disabled="true">
                </div>
            </div>

            <div class="row p-fluid" style="margin-top: 15px;">
                <div class="col">
                    <label for="float-input">CPF</label>
                    <p-inputMask *ngIf="aluno?.cpf" [(ngModel)]="aluno.cpf" mask="999.999.999-99" [disabled]="true">
                    </p-inputMask>
                </div>
                <div class="col">
                    <label for="float-input">Unidade</label>
                    <input *ngIf="aluno?.unidade?.nome" type="text" pInputText [(ngModel)]="aluno.unidade.nome"
                        disabled="true">
                </div>
            </div>

            <div class="row p-fluid" style="margin-top: 15px;">
                <div class="col">
                    <label for="float-input">Email</label>
                    <input *ngIf="aluno?.email" type="email" pInputText [(ngModel)]="aluno.email" disabled="true">
                </div>
            </div>

            <div class="row p-fluid" style="margin-top: 15px;">
                <div class="col">
                    <label for="float-input">Data de Nascimento</label>
                    <p-calendar *ngIf="aluno?.dataNascimento" [(ngModel)]="aluno.dataNascimento" [showIcon]="true"
                        inputId="icon" dateFormat="dd/mm/yy" [showButtonBar]="true" disabled="true">
                    </p-calendar>
                </div>
                <div class="col">
                    <label for="float-input">Plano</label>
                    <input *ngIf="aluno?.plano?.nome" type="text" pInputText [(ngModel)]="aluno.plano.nome"
                        disabled="true">
                </div>
            </div>

            <div class="row p-fluid" style="margin-top: 15px;">
                <div class="col">
                    <label for="float-input">Telefone</label>
                    <input *ngIf="aluno?.telefone" type="text" pInputText [(ngModel)]="aluno.telefone"
                        placeholder="(99) 99999-9999" disabled="true">
                </div>
                <div class="col">
                    <label for="float-input">Sexo</label>
                    <input *ngIf="aluno?.sexo?.nome" type="text" pInputText [(ngModel)]="aluno.sexo.nome"
                        disabled="true">
                </div>
            </div>
        </p-fieldset>

        <p-fieldset legend="Endereço" [toggleable]="true">
            <div class="row p-fluid">
                <div class="col">
                    <label for="float-input">Descrição</label>
                    <input *ngIf="aluno?.endereco?.descricao" type="text" pInputText
                        [(ngModel)]="aluno.endereco.descricao" [disabled]="true">
                </div>
            </div>

            <div class="row p-fluid" style="margin-top: 15px;">
                <div class="col">
                    <label for="float-input">Cidade</label>
                    <input *ngIf="aluno?.endereco?.cidade" type="text" pInputText [(ngModel)]="aluno.endereco.cidade"
                        [disabled]="true">
                </div>
                <div class="col">
                    <label for="float-input">Estado</label>
                    <input *ngIf="aluno?.endereco?.estado" type="text" pInputText [(ngModel)]="aluno.endereco.estado"
                        [disabled]="true">
                </div>
            </div>

            <div class="row p-fluid" style="margin-top: 15px;">
                <div class="col">
                    <label for="float-input">CEP</label>
                    <p-inputMask *ngIf="aluno?.endereco?.cep" [(ngModel)]="aluno.endereco.cep" mask="99.999-999"
                        [disabled]="true">
                    </p-inputMask>
                </div>
            </div>
        </p-fieldset>

        <div class="container-btns-forms row justify-content-md-start">
            <div class="col-12">
                <button pButton pRipple type="button" label="Voltar" class="p-button-secondary" (click)="voltar()"
                    style="margin-top: 50px;"></button>
            </div>
        </div>
    </div>
</div>