<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-toast position="top-right"></p-toast>

<div class="container-principal">
    <div class="container">
        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="float-input">Aluno</label>
                <input *ngIf="treino?.aluno?.nome" type="text" pInputText [(ngModel)]="treino.aluno.nome"
                    disabled="true">
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-8">
                <label for="float-input">Descrição</label>
                <textarea *ngIf="treino?.descricao" pInputTextarea [(ngModel)]="treino.descricao"
                    disabled="true"></textarea>
            </div>
        </div>

        <div class="container-btns-forms row justify-content-md-end">
            <div class="col-7">
                <button pButton pRipple type="button" label="Voltar" class="p-button-secondary" (click)="voltar()"
                    style="margin-top: 50px;"></button>
            </div>
        </div>
    </div>
</div>