<div class="container py-4">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Patrimônio</li>
        </ol>
    </nav>
</div>

<div class="container"> 
    <table class="table table-info table-striped">
        <thead>
          <tr>
            <th scope="col-3">Nº de Patrimônio</th>
            <th scope="col-3">Nome</th>
            <th scope="col-3">Valor de Mercado na Época</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>20220523156</td>
            <th>Leg 45°</th>
            <td>3.999,99</td>
          </tr>
          <tr>
            <td>20220523156</td>
            <th>Mesa reta Supino</th>           
            <td>379.99</td>
          </tr>
          <tr>
            <td>20220523156</td>
            <th>Monocross Over Polia Simples</th>     
            <td>3.390</td>
          </tr>
        </tbody>
      </table>  
</div>