<app-menu></app-menu>
<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-toast position="top-right"></p-toast>

<div class="container-principal">
    <div class="container">
        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="float-input">Alunos</label>
                <p-dropdown [options]="alunos" [(ngModel)]="novaAvaliacaoFisica.idAluno" placeholder="Selecione o Aluno"
                    optionLabel="nome" optionValue="id">
                </p-dropdown>
            </div>

            <div class="col-4">
                <label for="float-input">Biotipos</label>
                <p-dropdown [options]="biotipos" [(ngModel)]="novaAvaliacaoFisica.idBiotipo"
                    placeholder="Selecione o Biotipo" optionLabel="tipo" optionValue="id">
                </p-dropdown>
            </div>

            <div class="col-4">
                <label for="stacked">Abdômen (Metros)</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.abdomen" [min]="0" [showButtons]="true" mode="decimal"
                    [maxFractionDigits]="2" [minFractionDigits]="2">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Idade</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.idade" [min]="0" [showButtons]="true">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Peso (Kg)</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.peso" [min]="0" [showButtons]="true">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Altura (Metros)</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.altura" [min]="0" [showButtons]="true" mode="decimal"
                    [maxFractionDigits]="2" [minFractionDigits]="2">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Largura entre os Ombros (Metros)</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.larguraEntreOmbros" [min]="0" [showButtons]="true"
                    [maxFractionDigits]="2" mode="decimal" [minFractionDigits]="2">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Largura braço relaxado (Metros)</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.larguraBracoRelaxado" [min]="0" [showButtons]="true"
                    [maxFractionDigits]="2" mode="decimal" [minFractionDigits]="2">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Largura braço contraído (Metros)</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.larguraBracoContraido" [min]="0" [showButtons]="true"
                    [maxFractionDigits]="2" mode="decimal" [minFractionDigits]="2">
                </p-inputNumber>
            </div>          
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Antebraço (Metros)</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.antebraco" [min]="0" [showButtons]="true" mode="decimal"
                    [maxFractionDigits]="2" [minFractionDigits]="2">
                </p-inputNumber>
            </div>  

            <div class="col-4">
                <label for="stacked">Torax (Metros)</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.torax" [min]="0" [showButtons]="true" mode="decimal"
                    [maxFractionDigits]="2" [minFractionDigits]="2">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Panturrilha (Metros)</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.panturrilha" [min]="0" [showButtons]="true"
                    [maxFractionDigits]="2" mode="decimal" [minFractionDigits]="2">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Cintura (Metros)</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.cintura" [min]="0" [showButtons]="true" mode="decimal"
                    [maxFractionDigits]="2" [minFractionDigits]="2">
                </p-inputNumber>
            </div>
            
            <div class="col-4">
                <label for="stacked">Quadril (Metros)</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.quadril" [min]="0" [showButtons]="true" mode="decimal"
                    [maxFractionDigits]="2" [minFractionDigits]="2">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Coxa (Metros)</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.coxa" [min]="0" [showButtons]="true" mode="decimal"
                    [maxFractionDigits]="2" [minFractionDigits]="2">
                </p-inputNumber>
            </div>
        </div>

        <div class="container-btns-forms row justify-content-md-end">
            <div class="col-3">
                <button id="btnVoltar" pButton pRipple type="button" label="Voltar" class="p-button-secondary"
                    (click)="voltar()" style="margin-top: 50px; margin-left: 20px;"></button>
                <button id="btnSalvar" pButton pRipple type="button" label="Cadastrar" class="p-button-success"
                    (click)="validarCadastro()" style="margin-top: 50px; margin-left: 5px;"></button>
            </div>
        </div>
    </div>
</div>