<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-toast position="top-right"></p-toast>

<div class="container-principal">
    <div class="container">
        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="float-input">Alunos</label>
                <p-dropdown [options]="alunos" [(ngModel)]="alunoSelecionado" placeholder="Selecione o Aluno"
                    optionLabel="name">
                </p-dropdown>
            </div>

            <div class="col-4">
                <label for="float-input">Biotipos</label>
                <p-dropdown [options]="biotipos" [(ngModel)]="biotipoSelecionado" placeholder="Selecione o Biotipo"
                    optionLabel="name">
                </p-dropdown>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Abdomen</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.abdomen" inputId="valorPago" [min]="0" mode="currency"
                    currency="BRL">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Idade</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.idade" inputId="valorPago" [min]="0" mode="currency"
                    currency="BRL">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Peso</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.peso" inputId="valorPago" [min]="0" mode="currency"
                    currency="BRL">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Altura</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.altura" inputId="valorPago" [min]="0" mode="currency"
                    currency="BRL">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Largura entre os Ombros</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.larguraEntreOmbros" inputId="valorPago" [min]="0"
                    mode="currency" currency="BRL">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Largura braço relaxado</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.larguraBracoRelaxado" inputId="valorPago" [min]="0"
                    mode="currency" currency="BRL">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Largura braço contraido</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.larguraBracoContraido" inputId="valorPago" [min]="0"
                    mode="currency" currency="BRL">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Antebraço</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.antebraco" inputId="valorPago" [min]="0" mode="currency"
                    currency="BRL">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Torax</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.torax" inputId="valorPago" [min]="0" mode="currency"
                    currency="BRL">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Panturrilha</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.panturrilha" inputId="valorPago" [min]="0"
                    mode="currency" currency="BRL">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Cintura</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.cintura" inputId="valorPago" [min]="0" mode="currency"
                    currency="BRL">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Quadril</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.quadril" inputId="valorPago" [min]="0" mode="currency"
                    currency="BRL">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Coxa</label>
                <p-inputNumber [(ngModel)]="novaAvaliacaoFisica.coxa" inputId="valorPago" [min]="0" mode="currency"
                    currency="BRL">
                </p-inputNumber>
            </div>
        </div>

        <div class="row justify-content-md-end">
            <div class="col-7">
                <button id="btnVoltar" pButton pRipple type="button" label="Voltar" class="p-button-secondary"
                    (click)="voltar()" style="margin-top: 50px; margin-left: 20px;"></button>
                <button id="btnSalvar" pButton pRipple type="button" label="Cadastrar" class="p-button-success"
                    (click)="validarCadastro()" style="margin-top: 50px; margin-left: 5px;"></button>
            </div>
        </div>
    </div>
</div>