<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-toast position="top-right"></p-toast>

<div class="container-principal">
  <div class="container">
    <div class="row p-fluid">
      <div class="col-3">
        <span class="p-float-label">
          <p-inputMask [(ngModel)]="filtro.matricula" mask="999999999"> </p-inputMask>
          <label for="float-input">Matrícula</label>
        </span>
      </div>
      <div class="col-3">
        <span class="p-float-label">
          <p-inputMask [(ngModel)]="filtro.cpf" placeholder="999.999.999-99" mask="999.999.999-99">
          </p-inputMask>
          <label for="float-input">CPF</label>
        </span>
      </div>
      <div class="col-6">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText [(ngModel)]="filtro.nome">
          <label for="float-input">Nome</label>
        </span>
      </div>
    </div>
  </div>

  <div class="container container-btns-pesquisa">
    <div class="row justify-content-md-start">
      <div class="col-10">
        <button pButton pRipple type="button" label="Limpar" class="p-button-secondary" (click)="limpar()"></button>
        <button pButton pRipple type="button" label="Pesquisar" class="p-button-primary" style="margin-left: 6px;"
          (click)="buscar()"></button>
      </div>
      <div class="col-2">
        <button id="btnCadastrar" pButton pRipple type="button" label="Cadastrar" class="p-button-success"
          (click)="cadastrar()"></button>
      </div>
    </div>
  </div>

  <div class="container container-tabela">
    <p-table #dt [value]="funcionarios" [rows]="3" [paginator]="this.funcionarios.length > 0"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
      [showCurrentPageReport]="this.funcionarios.length > 0">
      <ng-template pTemplate="header">
        <tr>
          <th> Matrícula </th>
          <th> Nome </th>
          <th> Cargo </th>
          <th> Status </th>
          <th style="width:200px"> </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-funcionario>
        <tr>
          <td>{{funcionario.matricula}}</td>
          <td>{{funcionario.nome}}</td>
          <td>{{funcionario.cargo.nome.toUpperCase()}}</td>
          <td> <b> {{funcionario.status ? 'ATIVO' : 'INATIVO'}} </b> </td>
          <td>
            <button pButton pRipple pTooltip="Visualizar" icon="pi pi-search"
              class="p-button-rounded p-button-help mr-2" (click)="detalhes(funcionario.id)"
              style="margin-right: 6px;"></button>
            <button pButton pRipple pTooltip="Editar" icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2"
              (click)="confirmarEdicao(funcionario.id)" style="margin-right: 6px;"></button>
            <button *ngIf="!(funcionario.status)" pButton pRipple pTooltip="Ativar" icon="pi pi-power-off"
              class="p-button-rounded p-button-success mr-2" (click)="confirmarAtivacao(funcionario.id)"
              style="margin-right: 6px;"></button>
            <button *ngIf="funcionario.status" pButton pRipple pTooltip="Inativar" icon="pi pi-power-off"
              class="p-button-rounded p-button-danger mr-2" (click)="confirmarInativacao(funcionario.id)"
              style="margin-right: 6px;"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="5" style="text-align: center;">
            Não encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
  </p-confirmDialog>
</div>