<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-toast position="top-right"></p-toast>

<div class="container-principal">
    <div class="container">
        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="float-input">Aluno</label>
                <input *ngIf="avaliacaoFisica?.aluno?.nome" type="text" pInputText
                    [(ngModel)]="avaliacaoFisica.aluno.nome" disabled="true">
            </div>

            <div class="col-4">
                <label for="float-input">Biotipo</label>
                <input *ngIf="avaliacaoFisica?.biotipo?.tipo" type="text" pInputText
                    [(ngModel)]="avaliacaoFisica.biotipo.tipo" disabled="true">
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Abdômen</label>
                <p-inputNumber *ngIf="avaliacaoFisica?.abdomen" [(ngModel)]="avaliacaoFisica.abdomen" [min]="0" [disabled]="true">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Idade</label>
                <p-inputNumber *ngIf="avaliacaoFisica?.idade" [(ngModel)]="avaliacaoFisica.idade" [min]="0" [disabled]="true">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Peso</label>
                <p-inputNumber *ngIf="avaliacaoFisica?.peso" [(ngModel)]="avaliacaoFisica.peso" [min]="0" [disabled]="true">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Altura</label>
                <p-inputNumber *ngIf="avaliacaoFisica?.altura" [(ngModel)]="avaliacaoFisica.altura" [min]="0" [disabled]="true">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Largura entre os Ombros</label>
                <p-inputNumber *ngIf="avaliacaoFisica?.larguraEntreOmbros" [(ngModel)]="avaliacaoFisica.larguraEntreOmbros" [min]="0" [disabled]="true">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Largura braço relaxado</label>
                <p-inputNumber *ngIf="avaliacaoFisica?.larguraBracoRelaxado" [(ngModel)]="avaliacaoFisica.larguraBracoRelaxado" [min]="0" [disabled]="true">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Largura braço contraído</label>
                <p-inputNumber *ngIf="avaliacaoFisica?.larguraBracoContraido" [(ngModel)]="avaliacaoFisica.larguraBracoContraido" [min]="0" [disabled]="true">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Antebraço</label>
                <p-inputNumber *ngIf="avaliacaoFisica?.antebraco" [(ngModel)]="avaliacaoFisica.antebraco" [min]="0" [disabled]="true">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Torax</label>
                <p-inputNumber *ngIf="avaliacaoFisica?.torax" [(ngModel)]="avaliacaoFisica.torax" [min]="0" [disabled]="true">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Panturrilha</label>
                <p-inputNumber *ngIf="avaliacaoFisica?.panturrilha" [(ngModel)]="avaliacaoFisica.panturrilha" [min]="0" [disabled]="true">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Cintura</label>
                <p-inputNumber *ngIf="avaliacaoFisica?.cintura" [(ngModel)]="avaliacaoFisica.cintura" [min]="0" [disabled]="true">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Quadril</label>
                <p-inputNumber *ngIf="avaliacaoFisica?.quadril" [(ngModel)]="avaliacaoFisica.quadril" [min]="0" [disabled]="true">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Coxa</label>
                <p-inputNumber *ngIf="avaliacaoFisica?.coxa" [(ngModel)]="avaliacaoFisica.coxa" [min]="0" [disabled]="true">
                </p-inputNumber>
            </div>
        </div>

        <div class="container-btns-forms row justify-content-md-end">
            <div class="col-7">
                <button id="btnVoltar" pButton pRipple type="button" label="Voltar" class="p-button-secondary"
                    (click)="voltar()" style="margin-top: 50px; margin-left: 20px;"></button>
            </div>
        </div>
    </div>
</div>