<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-toast position="top-right"></p-toast>

<div class="container-principal">
    <div class="container">
        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="float-input">Alunos</label>
                <p-dropdown [options]="alunos" [(ngModel)]="avaliacaoFisica.idAluno" placeholder="Selecione o Aluno"
                    optionLabel="nome" optionValue="id">
                </p-dropdown>
            </div>

            <div class="col-4">
                <label for="float-input">Biotipos</label>
                <p-dropdown [options]="biotipos" [(ngModel)]="avaliacaoFisica.idBiotipo"
                    placeholder="Selecione o Biotipo" optionLabel="tipo" optionValue="id">
                </p-dropdown>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Abdômen</label>
                <p-inputNumber [(ngModel)]="avaliacaoFisica.abdomen" [min]="0" [showButtons]="true"
                    [maxFractionDigits]="2" mode="decimal" [minFractionDigits]="2">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Idade</label>
                <p-inputNumber [(ngModel)]="avaliacaoFisica.idade" [min]="0" [showButtons]="true"
                    [maxFractionDigits]="2" mode="decimal" [minFractionDigits]="2">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Peso</label>
                <p-inputNumber [(ngModel)]="avaliacaoFisica.peso" [min]="0" [showButtons]="true" [maxFractionDigits]="2"
                    mode="decimal" [minFractionDigits]="2">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Altura</label>
                <p-inputNumber [(ngModel)]="avaliacaoFisica.altura" [min]="0" [showButtons]="true"
                    [maxFractionDigits]="2" mode="decimal" [minFractionDigits]="2">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Largura entre os Ombros</label>
                <p-inputNumber [(ngModel)]="avaliacaoFisica.larguraEntreOmbros" [min]="0" [maxFractionDigits]="2"
                    mode="decimal" [minFractionDigits]="2" [showButtons]="true">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Largura braço relaxado</label>
                <p-inputNumber [(ngModel)]="avaliacaoFisica.larguraBracoRelaxado" [min]="0" [maxFractionDigits]="2"
                    mode="decimal" [minFractionDigits]="2" [showButtons]="true">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Largura braço contraído</label>
                <p-inputNumber [(ngModel)]="avaliacaoFisica.larguraBracoContraido" [min]="0" [maxFractionDigits]="2"
                    mode="decimal" [minFractionDigits]="2" [showButtons]="true">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Antebraço</label>
                <p-inputNumber [(ngModel)]="avaliacaoFisica.antebraco" [min]="0" mode="decimal" [maxFractionDigits]="2"
                    [minFractionDigits]="2" [showButtons]="true">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Torax</label>
                <p-inputNumber [(ngModel)]="avaliacaoFisica.torax" [min]="0" [showButtons]="true"
                    [maxFractionDigits]="2" mode="decimal" [minFractionDigits]="2">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Panturrilha</label>
                <p-inputNumber [(ngModel)]="avaliacaoFisica.panturrilha" [min]="0" mode="decimal"
                    [maxFractionDigits]="2" [minFractionDigits]="2" [showButtons]="true">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Cintura</label>
                <p-inputNumber [(ngModel)]="avaliacaoFisica.cintura" [min]="0" [showButtons]="true"
                    [maxFractionDigits]="2" mode="decimal" [minFractionDigits]="2">
                </p-inputNumber>
            </div>

            <div class="col-4">
                <label for="stacked">Quadril</label>
                <p-inputNumber [(ngModel)]="avaliacaoFisica.quadril" [min]="0" [showButtons]="true"
                    [maxFractionDigits]="2" mode="decimal" [minFractionDigits]="2">
                </p-inputNumber>
            </div>
        </div>

        <div class="row p-fluid" style="margin-top: 15px;">
            <div class="col-4">
                <label for="stacked">Coxa</label>
                <p-inputNumber [(ngModel)]="avaliacaoFisica.coxa" [min]="0" [showButtons]="true" [maxFractionDigits]="2"
                    mode="decimal" [minFractionDigits]="2">
                </p-inputNumber>
            </div>
        </div>

        <div class="container-btns-forms row justify-content-md-end">
            <div class="col-7">
                <button id="btnVoltar" pButton pRipple type="button" label="Voltar" class="p-button-secondary"
                    (click)="voltar()" style="margin-top: 50px; margin-left: 20px;"></button>
                <button id="btnSalvar" pButton pRipple type="button" label="Atualizar" class="p-button-success"
                    (click)="validarCadastro()" style="margin-top: 50px; margin-left: 5px;"></button>
            </div>
        </div>
    </div>
</div>