<div class="container fixed-bottom">
    <footer class="py-1 my-1">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a routerLink="/home" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a routerLink="/alunos" class="nav-link px-2 text-muted">Alunos</a></li>
            <li class="nav-item"><a routerLink="/funcionarios" class="nav-link px-2 text-muted">Funcionários</a></li>
            <li class="nav-item"><a routerLink="/patrimonio" class="nav-link px-2 text-muted">Patrimônio</a></li>
            <li class="nav-item"><a routerLink="/sobre" class="nav-link px-2 text-muted">Sobre</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Company, Inc</p>
    </footer>
</div>